body {
    background-color: #262626;
}

:root {
    --base-icon-size: 40px;
    --bottom-shell-elements-margin: 2px;
    --property-padding: 3px;
}

edytor-left {
    border-right: solid 1px #222222;
    box-shadow: 2px 0 3px 0 #222222;
    position: fixed;
    width: calc(var(--base-icon-size) * 3);
    background: #444444;
    z-index: 511;
    top: calc(var(--base-icon-size) * 2);
    left: 0;
}

edytor-right {
    border-left: solid 1px #222222;
    box-shadow: -2px 0 3px 0 #222222;
    width: calc(var(--base-icon-size) * 8);
    background: #3d3d3d;
    z-index: 521;
    position: fixed;
    top: calc(var(--base-icon-size) * 2);
    right: 0;
}

edytor-top {
    width: 100%;
    background: #3d3d3d;
    height: var(--base-icon-size);
    padding: 0;
    margin: 0;
    z-index: 531;
    position: fixed;
    top: 0;
    left: 0;
}

.bottom_shell {
    z-index: 541;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #3d3d3d;
    height: calc(var(--base-icon-size) * 4 + var(--bottom-shell-elements-margin) * 2);
    padding: 0;
    margin: 0;
}

.edytor_logs {
    width: 100%;
    background: #111111;
    height: calc(var(--base-icon-size) * 3);
    padding: 0;
    margin: var(--bottom-shell-elements-margin) 0 0 var(--bottom-shell-elements-margin);
    border: solid 1px #333333;
    color: #eeeeee;
    font-size: calc(var(--base-icon-size) / 2);
    font-family: courier;
}

.edytor_shell {
    background: #111111;
    border: solid 1px #333333;
    color: #eeeeee;
    font-size: calc(var(--base-icon-size) / 2);
    font-family: courier;
    height: var(--base-icon-size);
    margin: var(--bottom-shell-elements-margin) 0 0 var(--bottom-shell-elements-margin);
    padding: 0;
}

.edytor_logs:focus,
.edytor_shell:focus {
    outline: none;
}

.sidebar_title {
    font-size: calc(var(--base-icon-size) / 2);
    font-family: arial;
    color: #e8e6e6;
    text-align: center;
    padding: 1px;
    background-image: linear-gradient(#444444, #333333);
    border-left: solid 1px #555555;
    border-top: solid 1px #555555;
    border-right: solid 1px #212121;
    border-bottom: solid 1px #212121;
    display: block;
}

edytor-colours {
    display: flex;
    flex-wrap: wrap;
}

.sidebar_container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.sidebar_container .edytor_toggle_off {
    border-left: solid 1px #555555;
    border-top: solid 1px #555555;
    border-right: solid 1px #212121;
    border-bottom: solid 1px #212121;
}

.sidebar_container .edytor_toggle_on {
    border-right: solid 1px #777777;
    border-bottom: solid 1px #777777;
    border-top: solid 1px #222222;
    border-left: solid 1px #222222;
    border: solid 1px #eeeeee;
    color: #ffffff;
}

.edytor_property {
    font-size: calc(var(--base-icon-size) / 2);
    font-family: arial;
    color: #e8e6e6;
    text-align: left;
    padding: var(--property-padding);
    background-image: linear-gradient(#3d3d3d, #333333);
    display: inline-block;
}

.edytor_property label {
    margin-right:calc(var(--base-icon-size) / 4);
}

.edytor_property input {
    font-size: calc(var(--base-icon-size) / 2);
    font-family: arial;
    color: #cccccc;
    background-image: linear-gradient(#191919, #2d2d2d);
    border: 0;
    width: calc(var(--base-icon-size) * 2);
    margin-right:calc(var(--base-icon-size) / 4);
}

.edytor_property select {
    font-size: calc(var(--base-icon-size) / 2);
    font-family: arial;
    color: #cccccc;
    background-image: linear-gradient(#191919, #2d2d2d);
    border: 0;
    width: calc(var(--base-icon-size) * 2);
    appearance: none;
}

.edytor_tool {
    padding: 0;
    height: calc(var(--base-icon-size) - 2px);
    width: calc(var(--base-icon-size) - 2px);
    line-height: calc(var(--base-icon-size) - 2px);
    text-align: center;
    font-size: calc(var(--base-icon-size) - var(--base-icon-size)/2.5);
    font-family: arial;
    color: #d5d5d5;
    background-image: linear-gradient(#3d3d3d, #333333);
    cursor: pointer;
    display: block;
}

edytor-colour {
    padding: 0;
    height: calc(var(--base-icon-size) - 2px);
    width: calc(var(--base-icon-size) - 2px);
    line-height: calc(var(--base-icon-size) - 2px);
    text-align: center;
    font-size: calc(var(--base-icon-size) - 2px);
    font-family: arial;
    color: #d5d5d5;
    /* background-image: linear-gradient(#3d3d3d, #333333); */
    cursor: pointer;
    display: block;
}

/*.property label {
    flex: calc(var(--base-icon-size) * 3);
}

.property input {
    width: 100px;
}

.property select {
    width: 100px;
}*/

edytor-layer-list-layer, edytor-layer-tools {
    font-size: calc(var(--base-icon-size) / 2 - 2px);
    line-height: calc(var(--base-icon-size) - var(--base-icon-size)/2);
    font-family: arial;
    color: #bdbdbd;
    text-align: left;
    padding: 0px;
    margin: 1px 0 1px 0;
    border: solid 1px #555555;
    background-image: linear-gradient(#3d3d3d, #333333);
    display: flex;
}

.edytor_sidebar_layer_selected {
    border: solid 1px #eeeeee;
    background-image: linear-gradient(#5d5d5d, #444444);
}

edytor-layer-list-layer input[type=checkbox], edytor-layer-tools input[type=checkbox],  {
    width: calc(var(--base-icon-size) - var(--base-icon-size)/2);
    margin: 0;
    padding: 0px;
}

edytor-layer-list-layer label {
    font-size: calc(var(--base-icon-size) / 2 - 6px);
    width: calc(var(--base-icon-size) - var(--base-icon-size)/2);
    padding: 0;
    margin: 4px 0 0 0;
    text-align: center;
    display: inline-block;
}

edytor-layer-list-layer input[type=text] {
    width: calc(var(--base-icon-size) * 3);
    padding: 0;
    margin: 0 0 0 4px;
    height: calc(var(--base-icon-size) - var(--base-icon-size)/4);
    font-family: arial;
    color: #cccccc;
    background-image: linear-gradient(#191919, #2d2d2d);
    border: 0;
}

edytor-layer-list-layer button, edytor-layer-tools button {
    width: calc(var(--base-icon-size) - var(--base-icon-size)/4);
    padding: 0;
    margin: 0;
    height: calc(var(--base-icon-size) - var(--base-icon-size)/4);
    font-family: arial;
    color: #cccccc;
    background-image: linear-gradient(#191919, #2d2d2d);
    border: 0;
}

edytor-tool-config {
    font-size: calc(var(--base-icon-size) / 2 - 2px);
    font-family: arial;
    color: #bdbdbd;
    text-align: left;
    padding: 0;
    background-image: linear-gradient(#3d3d3d, #333333);
    height: var(--base-icon-size);
    position: fixed;
    padding: 0;
    margin: 0;
    top: var(--base-icon-size);
    left: 0;
    z-index: 532;
    width: 100%;
}

edytor-tool-config .edytor_property:first-of-type {
    margin-left: calc(var(--base-icon-size) * 3);
}