body {
    background-color: #262626;
}

edytor-left {
    border-right: solid 1px #222222;
    box-shadow: 2px 0 3px 0 #222222;
    position: fixed;
    width: 80px;
    background: #444444;
    z-index: 511;
    top: 20px;
    left: 0;
}

edytor-right {
    border-left: solid 1px #222222;
    box-shadow: -2px 0 3px 0 #222222;
    width: 180px;
    background: #3d3d3d;
    z-index: 521;
    position: fixed;
    top: 20px;
    right: 0;
}

edytor-top {
    width: 100%;
    background: #3d3d3d;
    height: 20px;
    padding: 0;
    margin: 0;
    z-index: 531;
    position: fixed;
    top: 0;
    left: 0;
}

.bottom_shell {
    z-index: 541;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #3d3d3d;
    height: 80px;
    padding: 0;
    margin: 0;
}

.edytor_logs {
    width: 100%;
    background: #111111;
    height: 54px;
    padding: 0;
    margin: 2px 0 0 2px;
    border: solid 1px #333333;
    color: #eeeeee;
    font-size: 10px;
    font-family: courier;
}

.edytor_shell {
    background: #111111;
    border: solid 1px #333333;
    color: #eeeeee;
    font-size: 10px;
    font-family: courier;
    height: 14px;
    margin: 2px 0 0 2px;
    padding: 0;
}

.edytor_logs:focus,
.edytor_shell:focus {
    outline: none;
}

.sidebar_title {
    font-size: 10px;
    font-family: arial;
    color: #c7c7c7;
    text-align: center;
    padding: 1px;
    background-image: linear-gradient(#444444, #333333);
    border-left: solid 1px #555555;
    border-top: solid 1px #555555;
    border-right: solid 1px #212121;
    border-bottom: solid 1px #212121;
    display: block;
}

edytor-colours {
    display: flex;
    flex-wrap: wrap;
}

.sidebar_container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.sidebar_container .edytor_toggle_off {
    border-left: solid 1px #555555;
    border-top: solid 1px #555555;
    border-right: solid 1px #212121;
    border-bottom: solid 1px #212121;
}

.sidebar_container .edytor_toggle_on {
    border-right: solid 1px #777777;
    border-bottom: solid 1px #777777;
    border-top: solid 1px #222222;
    border-left: solid 1px #222222;
    border: solid 1px #eeeeee;
    color: #ffffff;
}

.edytor_sidebar_property {
    font-size: 10px;
    font-family: arial;
    color: #bdbdbd;
    text-align: left;
    padding: 3px;
    background-image: linear-gradient(#3d3d3d, #333333);
    display: flex;
}

.edytor_sidebar_property label {
    width: 32px;
    font-size: 8px;
    padding-right: 2px;
    overflow-wrap: break-word;
}

.edytor_sidebar_property input {
    font-size: 10px;
    font-family: arial;
    color: #cccccc;
    background-image: linear-gradient(#191919, #2d2d2d);
    border: 0;
    width: 36px;
}

.edytor_sidebar_property select {
    font-size: 10px;
    font-family: arial;
    color: #cccccc;
    background-image: linear-gradient(#191919, #2d2d2d);
    border: 0;
    width: 40px;
    appearance: none;
}

.edytor_tool {
    padding: 2px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
    font-family: arial;
    color: #d5d5d5;
    background-image: linear-gradient(#3d3d3d, #333333);
    cursor: pointer;
    display: block;
}

edytor-colour {
    padding: 0;
    height: 18px;
    width: 18px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
    font-family: arial;
    color: #d5d5d5;
    /* background-image: linear-gradient(#3d3d3d, #333333); */
    cursor: pointer;
    display: block;
}

.property label {
    flex: 50x;
}

.property input {
    width: 100px;
}

.property select {
    width: 100px;
}

edytor-layer-list-layer {
    font-size: 10px;
    font-family: arial;
    color: #bdbdbd;
    text-align: left;
    padding: 0px;
    margin: 1px 0 1px 0;
    border: solid 1px #555555;
    background-image: linear-gradient(#3d3d3d, #333333);
    display: flex;
}

.edytor_sidebar_layer_selected {
    border: solid 1px #eeeeee;
    background-image: linear-gradient(#5d5d5d, #444444);
}

edytor-layer-list-layer input[type=checkbox] {
    width: 10px;
    margin: 0 0 0 2px;
    padding: 0px;
}

edytor-layer-list-layer label {
    width: 5px;
    padding: 1px 3px 0 3px;
    margin: 2px 0 0 1px;
    font-size: 9px;
}

edytor-layer-list-layer input[type=text] {
    width: 60px;
    padding: 1px 2px 0 2px;
    margin: 0 0 0 2px;
    height: 15px;
    font-size: 9px;
    font-family: arial;
    color: #cccccc;
    background-image: linear-gradient(#191919, #2d2d2d);
    border: 0;
}

edytor-layer-list-layer button {
    width: 15px;
    padding: 1px 2px 0 2px;
    margin: 0 0 0 2px;
    height: 15px;
    font-size: 9px;
    font-family: arial;
    color: #cccccc;
    background-image: linear-gradient(#191919, #2d2d2d);
    border: 0;
}

.sidebar_container button {
    width: 15px;
    padding: 1px 2px 0 2px;
    margin: 0 0 0 2px;
    height: 15px;
    font-size: 9px;
    font-family: arial;
    color: #cccccc;
    background-image: linear-gradient(#191919, #2d2d2d);
    border: 0;
}

.sidebar_container input[type=checkbox] {
    width: 10px;
    margin: 0 0 0 2px;
    padding: 0px;
}